@import './../styles/components/responsive';

.section {
  height: inherit;
  user-select: none;
  padding-top: 8rem;

  @include small-down() {
    //background: #fd1669;
  }

  a {
    font-weight: bold;
    color: #088ae9;
  }

  figure.logo {
    img {
      margin: 0 auto;
    }

    figcaption {
      text-align: center;
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  p {
    opacity: 0.8;
    @include small-down() {
      font-size: 13px;
    }
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16.1856px;
    gap: 14.39px;
    width: 180px;
    height: 104px;
    color: #fff;
    font-weight: bold;
    background: none;
    background-image: url('./../assets/wizard-btn.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }

    &[disabled] {
      background-image: url('./../assets/wizard-btn-disabled.svg');
      opacity: 0.4;
      color: #212121;
      cursor: not-allowed;
    }
  }
}

.grid {
  gap: 1rem;
}

.grid__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 60px;
  height: 60px;

  box-shadow: 0px 1.75439px 2.36842px rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;

  overflow: hidden;

  cursor: pointer;

  &:hover {
    transform: translateY(-0.2rem);
    transition: all ease-in-out 0.12s;
  }

  b {
    max-width: 100%;
    font-size: 14px;
  }
}

.txt-search {
  position: relative;
  margin: 1rem auto;
  isolation: isolate;

  input {
    position: relative;
    border: none;
    width: 100%;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    border-radius: 999px;
    overflow: hidden;
    padding: 0.8rem 0.9rem;
    box-shadow: 3.2px 6.7px 5.3px rgba(0, 0, 0, 0.028), 10.7px 22.3px 17.9px rgba(0, 0, 0, 0.042), 48px 100px 80px rgba(0, 0, 0, 0.07);

    &:active {
      background-color: #fafafa;
    }
    &:focus {
      outline: 1px solid var(--area1);
    }
  }
}

.access-key {
  display: flex;
  column-gap: 0.25rem;

  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);

  opacity: 0.6;
  border-radius: var(--global-border-radius);

  z-index: 1;

  @include small-down() {
    display: none;
  }

  span {
    color: var(--text-color);
    font-size: 12px;

    &:not(&:nth-child(2), &:nth-child(4)) {
      padding: 0 0.2rem;
      border-radius: 4px;
      background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
      box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
    }
  }
}
