@import './../styles/components/responsive';

.section {
  height: inherit;
  user-select: none;
  padding-top: 8rem;

  @include small-down() {
    //background: #fd1669;
  }

  a {
    font-weight: bold;
    color: #088ae9;
  }

  figure.logo {
    text-align: center;

    img {
      margin: 0 auto;
      width: 75px;
    }

    figcaption {
      text-align: center;
      font-weight: bold;
      margin-top: 1rem;
      font-size: 16px;
    }
  }

  p.message {
    opacity: 0.9;
    text-wrap: balance;
    text-align: center;
    line-height: 20px;
    font-size: 12px;

    @include small-down() {
      font-size: 13px;
    }
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16.1856px;
    gap: 14.39px;
    width: 180px;
    height: 104px;
    color: #fff;
    font-weight: bold;
    background: none;
    background-image: url('./../assets/wizard-btn.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }

    &[disabled] {
      background-image: url('./../assets/wizard-btn-disabled.svg');
      opacity: 0.4;
      color: #212121;
      cursor: not-allowed;
    }
  }
}

.grid {
  gap: 0.7rem;
}

.grid__item {
  position: relative;
  padding: 0.9rem 0.8rem;
  border-radius: var(--global-border-radius);
  opacity: 1;
  transition-property: box-shadow, transform;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);

  &:hover {
    background-color: #f4f4f4;
    .close-btn {
      i {
        top: 0;
        opacity: 1;
      }
    }
  }

  .close-btn {
    position: absolute;
    top: -20px;
    right: 0;
    height: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    i {
      position: absolute;
      top: -7px;
      height: 18px;
      width: 18px;
      border-radius: 999px;
      font-size: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-in-out 0.1s;
      opacity: 0;

      &:hover {
        background-color: #ef3246;
        color: var(--white);
      }
    }
  }

  > a {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6em;
    place-self: stretch;
    height: 70px;
    background-color: var(--white);
    border-radius: var(--global-border-radius);
    --shadow: 0px 9px 4px rgba(63, 93, 116, 0.01), 0px 5px 3px rgba(63, 93, 116, 0.04), 0px 2px 2px rgba(63, 93, 116, 0.07), 0px 1px 1px rgba(63, 93, 116, 0.08), 0px 0px 0px rgba(63, 93, 116, 0.08);
    --shadow-colored: 0px 9px 4px var(--shadow-color), 0px 5px 3px var(--shadow-color), 0px 2px 2px var(--shadow-color), 0px 1px 1px var(--shadow-color), 0px 0px 0px var(--shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--shadow);

    overflow: hidden;
    transition-property: box-shadow, transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);
    will-change: transform;
    cursor: pointer;

    &:hover {
      transform: translateY(-0.2rem) scale(1.2);

    }
  }

  figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 80%;
    }
  }

  b {
    max-width: 100%;
    font-size: 14px;
  }

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 10px;
  }
}

.txt-search {
  position: relative;
  margin: 2rem auto;
  isolation: isolate;
  max-width: 800px;

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./../assets/logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  input {
    position: relative;
    border: none;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    border-radius: var(--global-border-radius);
    overflow: hidden;
    padding: 1.6rem 3.8rem;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);

    &:active {
      background-color: #fafafa;
    }

    &:focus {
      outline: 1px solid var(--area1);
    }
  }
}

.access-key {
  display: flex;
  column-gap: 0.25rem;

  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);

  opacity: 0.6;
  border-radius: var(--global-border-radius);

  z-index: 1;

  @include small-down() {
    display: none;
  }

  span {
    color: var(--text-color);
    font-size: 12px;

    &:not(&:nth-child(2), &:nth-child(4)) {
      padding: 0 0.2rem;
      border-radius: 4px;
      background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
      box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
    }
  }
}

.statistics {
  background-color: var(--black-025);
  padding: 2rem 0;
  margin-top: 4rem;

  h6 {
    font-weight: bold;
  }

  p {
    text-wrap: balance;
  }

  &__card {
    padding: 1rem;

    span {
      font-size: 2rem;
    }
  }
}
