@import './../styles/components/responsive';

.section {
  height: inherit;
  user-select: none;
  padding-top: 8rem;

  @include small-down() {
    //background: #fd1669;
  }

  a {
    font-weight: bold;
    color: #088ae9;
  }

  figure.logo {
    img {
      margin: 0 auto;
    }

    figcaption {
      text-align: center;
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  p {
    opacity: 0.8;
    @include small-down() {
      font-size: 13px;
    }
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16.1856px;
    gap: 14.39px;
    width: 180px;
    height: 104px;
    color: #fff;
    font-weight: bold;
    background: none;
    background-image: url('./../assets/wizard-btn.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }

    &[disabled] {
      background-image: url('./../assets/wizard-btn-disabled.svg');
      opacity: 0.4;
      color: #212121;
      cursor: not-allowed;
    }
  }
}

.grid {
  gap: 1rem;
}

.grid__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 60px;
  height: 60px;

  box-shadow: 0px 1.75439px 2.36842px rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;

  overflow: hidden;

  cursor: pointer;

  &:hover {
    transform: translateY(-0.2rem);
    transition: all ease-in-out 0.12s;
  }

  b {
    max-width: 100%;
    font-size: 14px;
  }
}

.txt-search {
  position: relative;
  border: none;
  width: 100%;
  max-width: 450px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: stretch;
  border-radius: 999px;
  overflow: hidden;
  padding: 0.8rem 0.9rem;
  background-image: url('./../assets/up.svg');
  background-position: 97% center;
  background-repeat: no-repeat;
  background-size: 34px;
  box-shadow: 3.2px 6.7px 5.3px rgba(0, 0, 0, 0.028), 10.7px 22.3px 17.9px rgba(0, 0, 0, 0.042), 48px 100px 80px rgba(0, 0, 0, 0.07);
  span {
    position: absolute;
    right: 0.5rem;
  }
}